name: autofix.ci

on:
  push:
    paths:
      - "**.php"

permissions:
  contents: read

jobs:
  php-code-styling:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Fix PHP code style issues
        run: vendor/bin/pint

      - name: Apply autofix.ci changes
        uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c
